<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>

    <h3>Sorted students by their average grades:</h3>

    {{#each studentsData}}
    <p>{{this.name}} - {{this.average_grade}}</p>
    {{/each}}

    <h3>Sorted subjects by an average of grades given to students:</h3>

    {{#each subjectsData}}
    <p>{{this.name}} - {{this.average_grade}}</p>
    {{/each}}

    <h3>Sorted classes with the best students:</h3>

    {{#each classesData}}
    <p>{{this.name}} - {{this.average_grade}}</p>
    {{/each}}

</body>
</html>